In [2]:
#To know the shape and column name:----
import pandas as pd
d1={"name":["Yash","omkar","om","shivam","yogesh"],
    "age":[21,22,23,24,25],
    "salary":[100000000,200000,30000,40000,90000]}
df=pd.DataFrame(d1)
print("original data\n" ,df)
print("shape of the data:--\n")
print(df.shape)
print("column name:--")
print(df.columns)

original data
      name  age     salary
0    Yash   21  100000000
1   omkar   22     200000
2      om   23      30000
3  shivam   24      40000
4  yogesh   25      90000
shape of the data:--

(5, 3)
column name:--
Index(['name', 'age', 'salary'], dtype='object')