In [1]:
''' to find the information of data like:--
i]memory usage
ii]column name
iii]shape
iv]missing values'''

' to find the information of data like:--\ni]memory usage\nii]column name\niii]shape\niv]missing values'

In [2]:
import pandas as pd
d1=pd.read_excel(r"C:\Users\YASH JAGTAP\Downloads\train_and_test2.csv.xlsx")
print("Displayinng the info of data:--\n")
print(d1.info())

Displayinng the info of data:--

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB
None

In [3]:
# to find the mathematical operations:-- min,max,mean,std,count
d1={"name":["Yash","omkar","om","shivam","yogesh"],
    "age":[21,22,23,24,25],
    "salary":[100000000,200000,30000,40000,90000]}
df=pd.DataFrame(d1)
print("original data\n" ,df)


print("Descriptive anaysis:--\n",df.describe())

original data
      name  age     salary
0    Yash   21  100000000
1   omkar   22     200000
2      om   23      30000
3  shivam   24      40000
4  yogesh   25      90000
Descriptive anaysis:--
              age        salary
count   5.000000  5.000000e+00
mean   23.000000  2.007200e+07
std     1.581139  4.468116e+07
min    21.000000  3.000000e+04
25%    22.000000  4.000000e+04
50%    23.000000  9.000000e+04
75%    24.000000  2.000000e+05
max    25.000000  1.000000e+08