In [1]:
'''# To add a new column we usse:-- 
1]direct methods:--d1['column name']=values
2] insert method:--d1.insert(pos,columnname,element)'''

"# To add a new column we usse:-- \n1]direct methods:--d1['column name']=values\n2] insert method:--d1.insert(pos,columnname,element)"

In [ ]:
#direct methods:--d1['column name']=values

In [2]:
import pandas as pd
d1=pd.DataFrame({"name":["YAsh","ashish","om","avi","prath"],
                 "salary":[100000,80000,50000,60000,30000],
                 "performance":[100,90,20,30,40],
                 "age":[24,20,30,40,38]})
print("original data:--\n",d1)

d1["Bonus"]=[100,10,90,80,50]
print("Bonus on salary:--\n",d1)

original data:--
      name  salary  performance  age
0    YAsh  100000          100   24
1  ashish   80000           90   20
2      om   50000           20   30
3     avi   60000           30   40
4   prath   30000           40   38
Bonus on salary:--
      name  salary  performance  age  Bonus
0    YAsh  100000          100   24    100
1  ashish   80000           90   20     10
2      om   50000           20   30     90
3     avi   60000           30   40     80
4   prath   30000           40   38     50