In [1]:
# drop is used to remove rows,columns from dataframe:-- d1.drop[columns=['cloumn name'],inplace=true]

In [2]:
import pandas as pd
d1=pd.DataFrame({"name":["YAsh","ashish","om","avi","prath"],
                 "salary":[100000,80000,50000,60000,30000],
                 "performance":[100,90,20,30,40],
                 "age":[24,20,30,40,38]})
print(d1)

d1.insert(0,"employee_id",[101,99,88,60,10])
d1["bonus"]=d1["salary"]+1000
print("updated value\n",d1)

d2=d1.drop(columns=["bonus"])
print("dropped value\n",d2)

     name  salary  performance  age
0    YAsh  100000          100   24
1  ashish   80000           90   20
2      om   50000           20   30
3     avi   60000           30   40
4   prath   30000           40   38
updated value
    employee_id    name  salary  performance  age   bonus
0          101    YAsh  100000          100   24  101000
1           99  ashish   80000           90   20   81000
2           88      om   50000           20   30   51000
3           60     avi   60000           30   40   61000
4           10   prath   30000           40   38   31000
dropped value
    employee_id    name  salary  performance  age
0          101    YAsh  100000          100   24
1           99  ashish   80000           90   20
2           88      om   50000           20   30
3           60     avi   60000           30   40
4           10   prath   30000           40   38