In [1]:
# group the data:-- d1.groupby()[]

import pandas as pd
d1={"name":["YAsh","omkar","om","avi","prath"],
                 "salary":[100000,10000,90000,60000,30000],
                 "performance":[100,90,6,30,40],
                 "age":[24,27,27,40,38]}
df=pd.DataFrame(d1)
print(df)
print("group by age:--")

d2=df.groupby("age")["salary"].sum()
print(d2)

    name  salary  performance  age
0   YAsh  100000          100   24
1  omkar   10000           90   27
2     om   90000            6   27
3    avi   60000           30   40
4  prath   30000           40   38
group by age:--
age
24    100000
27    100000
38     30000
40     60000
Name: salary, dtype: int64