In [1]:
# To create excel file:--
import pandas as pd
d1={"Name":['ram','shyam','ghamshyam'],
    "Age":[10,20,21]
   }
df=pd.DataFrame(d1)
print(df)

df.to_excel("output.xlsx")

        Name  Age
0        ram   10
1      shyam   20
2  ghamshyam   21

In [2]:
# To create json file:--

import pandas as pd
d1={"Name":['ram','shyam','ghamshyam'],
    "Age":[10,20,21]
   }
df=pd.DataFrame(d1)
print(df)

df.to_json("output.json")

        Name  Age
0        ram   10
1      shyam   20
2  ghamshyam   21