In [1]:
# to sort multiple columns:-- d1.sort_values(by=["age","salary"],inplace=True,ascending=T/F)
import pandas as pd
d1={"name":["YAsh","omkar","om","avi","prath"],
                 "salary":[100000,80000,90000,60000,30000],
                 "performance":[100,90,6,30,40],
                 "age":[24,27,30,40,38]}
df=pd.DataFrame(d1)
print(df)
print("sorted_values of salary & age:-- ")

df.sort_values(by=["salary","age"],ascending=False,inplace=True)
print(df)

    name  salary  performance  age
0   YAsh  100000          100   24
1  omkar   80000           90   27
2     om   90000            6   30
3    avi   60000           30   40
4  prath   30000           40   38
sorted_values of salary & age:--
    name  salary  performance  age
0   YAsh  100000          100   24
2     om   90000            6   30
1  omkar   80000           90   27
3    avi   60000           30   40
4  prath   30000           40   38