In [1]:
# to update rows and columns:--d1.loc[row index,column name,values]
import pandas as pd
d1=pd.DataFrame({"name":["YAsh","ashish","om","avi","prath"],
                 "salary":[100000,80000,50000,60000,30000],
                 "performance":[100,90,20,30,40],
                 "age":[24,20,30,40,38]})
print(d1)

d1.loc[1,"salary"]=55550
print("updated value:--\n",d1)

     name  salary  performance  age
0    YAsh  100000          100   24
1  ashish   80000           90   20
2      om   50000           20   30
3     avi   60000           30   40
4   prath   30000           40   38
updated value:--
      name  salary  performance  age
0    YAsh  100000          100   24
1  ashish   55550           90   20
2      om   50000           20   30
3     avi   60000           30   40
4   prath   30000           40   38

In [2]:
# to update more than one value
d1["salary"]=d1["salary"]*10
print(d1)

     name   salary  performance  age
0    YAsh  1000000          100   24
1  ashish   555500           90   20
2      om   500000           20   30
3     avi   600000           30   40
4   prath   300000           40   38